@mixin sectionStyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-image: url(./Grafiki/tło.jpg);
}

@mixin button {
    margin: 20px 0;
    padding: 10px 0;
    width: 200px;
    height: 70px;
    cursor: pointer;
    background-image: url(./Grafiki/12.jpg);
    background-size: cover;
    border: 5px solid black;
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

.welcomeSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px auto 100px;
    text-align: center;
    color: white;
    &__header {
        font-family: 'Press Start 2P', cursive;
        font-size: 62px;
        text-shadow: -8px 0 black, 0 8px black, 8px 0 black, 0 -8px black;
    }
    &__description {
        font-family: 'Press Start 2P', cursive;
        font-size: 42px;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    }
    &__image {
        &--boy {
            position: absolute;
            width: 400px;
            transform: translateY(-50%);
            top: 50%;
            left: 10%;
        }
        &--girl {
            position: absolute;
            width: 400px;
            transform: translateY(-50%);
            top: 50%;
            right: 10%;
        }
    }
    &__form {
        border: 8px solid black;
        padding: 20px 60px;
        background-image: url(./Grafiki/12.jpg);
        background-size: cover;
        margin: auto auto;
        .form {
            margin: 30px 0;
            &__label {
                display: block;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
            &__input {
                border: none;
                border-bottom: 2px solid white;
                margin-top: 5px;
                background: transparent;
                padding: 5px 0;
                color: white;
            }
        }
        
    }
    &__button {
        @include button();
    }
}

.questionSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 100px;
    text-align: center;
    color: white;
    &__header {
        font-size: 64px;
    }
    &__points {
        font-size: 24px;
        margin: auto auto;
    }
    &__question {
        h2 {
            font-size: 32px;
        }
        font-size: 24px;
    }
    &__button {
        @include button();
    }
}

.femaleAnswerSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px auto 100px;
    text-align: center;
    color: white;
    &__name {
        font-size: 64px;
    }
    &__question {
        font-size: 48px;
    }
    &__form {
        font-size: 32px;
    }
    &__button {
        @include button();
    }
}

.maleAnswerSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px auto 100px;
    text-align: center;
    color: white;
    &__name {
        font-size: 64px;
    }
    &__question {
        font-size: 48px;
    }
    &__form {
        font-size: 32px;
    }
    &__button {
        @include button();
    }
}

.checkAnswerSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px auto auto 100px;
    text-align: center;
    color: white;
    &__header {
        font-size: 54px;
    }
    &__question {
        font-size: 40px;
    }
    &__answer {
        text-align: center;
        .writeAnswer {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__buttons {
        text-align: center;
    }
}

.finalSection {
    @include sectionStyle();
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px auto auto 100px;
    text-align: center;
    color: white;
    &__header {
        font-size: 64px;
    }
    &__button {
        @include button();
    }
}
